<footer class="footer">
    <div class="container text-center">
      <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/suman-kumar-396325192" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-github btn btn-link " href="https://github.com/Suman16iitkgp" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-instagram btn btn-link" href="https://www.instagram.com/sumangopal16/" target="_blank">
        <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-facebook btn btn-link " href="https://www.facebook.com/suman.gopal.56" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-medium btn btn-link " href="https://medium.com/@sk1244957" target="_blank">
        <i class="fa fa-medium fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>