<div class="section" id="projects"></div>
<h1><b>Projects</b></h1>
<div class="row">
    <div class="column" style="background-color:#f2f3f7;">
      <h2><b>Road Detection in Satellite Images ( Master Thesis )</b></h2>
      <p>Researched and Implemented Residual U-Net architecture in Keras to detect roads in satellite images to draw mask on detected roads.
        Applied Bicubic Interpolation to enlarge the size of the original image and trained the model on The Massachusetts Road Dataset.
      </p>
    </div>
    <div class="column" style="background-color:#f2f3f7;">
      <h2><b>Remaining useful life prediction of drill machine( Term Project )</b></h2>
      <p>Worked on the Remaining Useful Life(RUL) prediction of Drill bits using thrust force and torque signals data captured during drilling.
        Transformed signals data captured during Drilling cycle and incorporated Neural Networks to predict RUL of Drill machine.
        Prioritized the process quality over cost by optimizing hyperparameters using Genetic Algo and achieved RMSE of 9.1 on Test Dataset.
      </p>
    </div>
    <div class="column" style="background-color:#f2f3f7;">
      <h2><b>Optimal Covid Vaccine Allocation ( BTP Thesis )</b></h2>
      <p>Worked on the Covid Vaccine Allocation Problem. Formulated a mathematical model for optimal allocation of Covid vaccines.
        Minimized the total cost of expenditure and total number of Covid vaccines required.</p>
    </div>
  </div>
